{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title_block %} Social {% endblock %}</title>
    {% block css_block %}{% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        {% if user.user_profile.profile_pic %}
                        <a class="nav-link" href="{% url 'profile' %}"><img src="/media/{{ user.user_profile.profile_pic }}" style="height: 40px; width: 40px;" class="rounded-circle" ></a>
                        {% else %}
                        <a href="{% url 'profile' %}" class="nav-link"><img src="/media/default.jpg" style="width: 40px;height: 40px;" class="rounded-circle"></a>
                        {% endif %}
                    </li>
                   
                </ul>
                <form class="d-flex" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container my-5">
        {% block body_block %}

        {% endblock %}
    </div>

    <script src="{% static  'js/bootstrap.min.js' %}"></script>
</body>

</html>